:root{
    /* Add Variables */
    --main-font: 'Mulish', sans-serif;
    --green: #009ba2;
    --dark-green:#02858b;
    --dark:#343233;
    --blue:#0b8fc7;
    --text-grey:#4e5155;
    --headings:#1e517e;
    --white:#fefefe;
    --aarogya-green: #006f42;
    --aarogya-pink:#fc6c9c;
    --ts: all 0.3s;
}

/* box-sizing */
html{
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%; /*62.5% of 16px = 10px. So 1rem = 10px*/
}
*{
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}


body{
    font-family: var(--main-font);
    min-height: 100%;
    background: linear-gradient(to top, #c0f2f5 0%, white 100%);
}

img, svg, picture, video{
    width: 100%;
    /* display: block; */
}

a{
    text-decoration: none;
    color: var(--text-grey);
}

li{
    list-style-type: none;
    
}

/* set custom button attributes */
.custom-btn{ /*this is an anchor tag*/
    background-color: var(--green);
    padding: 0.7rem;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.3rem;
    transition: var(--ts);
}

.custom-btn:hover{
    background-color: var(--dark-green);
}


/* Input type buttons */
.input-btn{
    background-color: var(--green);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.3rem;
    transition: var(--ts);
    outline: none;
    border: solid 1px var(--dark-green);
    cursor: pointer;
}

.input-btn:hover{
    background-color: var(--dark-green);

}

/* Utility Class */
.accent-green{
    color: var(--green);
}

/* ANIMATION */
@keyframes slide-in{
    0%{
        opacity:0;
        transform:translateX(-30px)
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/* Styles */
.header{
    position: sticky;
    top: 0;
    background-color: var(--white);
}
.nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 120rem;
    text-align: center;
}


@media (min-width:768px){
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .brand-logo{
        max-width: 20rem;
    }
    .navbar-nav{
        display: flex;
        column-gap: 1rem;
    
        
    }
    .bhasa{
        margin: 0.5rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .nav-item{
        padding-top: 1.1rem;
    }
    
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu ul{
    padding: 0;
}

@media (min-width:768px){
    .menu{
        flex-direction: row;
        justify-content: space;
        align-items: center;
        padding: 0.8;
    }
}

.nav-item{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.nav-select{
    font-size: 1.3rem;
    width: 15rem;
    height: 2.2rem;
    color: var(--text-grey);
    text-align: center;
    border-radius: 0.5rem;
}

.nav-search{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;
}

@media (min-width:768px){
    .nav-search{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .search-form{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:1rem;
    }
}

.search-form{
    display: flex;
    padding: 0.8rem;
    width: 100%;
   
    
}

.search-container{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.search-text{
    height: 2.2rem;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 500px;
    padding: 0 3rem 0 1rem;
    border: solid 1px var(--green);
    outline: none;
}

.search-btn{
    position:absolute;
    top: 0.22rem;
    right: 0.6rem;
    border: none;
    background-color: var(--white);
}

.hero_image{
    max-height: 35rem;
    object-fit: cover;
    margin-top: 1rem;
}

/* Brand name on top of the Hero image */
.brand_text{
    position:absolute;
    top:22rem;
    left: 4rem;
    background-color: rgba(191, 223, 238, 0.85);
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 1rem;
    letter-spacing: 0.2rem;
    animation: slide-in 2s 0.1s backwards;
}
.main_text{
    color: var(--aarogya-green);
    font-size: 4rem;
}
.slogan{
    color: var(--aarogya-pink);
    font-size: 2rem;
    margin: 0 .5rem 0 .5rem;
}

/*  */
.specialists{
    width: 80%;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 1.5rem;
    
}


.appointments{
    -webkit-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.58);
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.58);
    width: 80%;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 1.5rem;
}

.appointment_form{
    display: inline;
    margin-bottom: 0.7rem;
    width: 100%;
}

.form_selection{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}

.form_label{
    margin-bottom: 1.2rem;
    line-height: 1rem;
    font-size: 1.4rem;
    color: var(--dark-green);
}

.section_submit{
    padding: 1rem;
}

.select_submission{
    width: 100%;
}


.form_select{
    font-size: 1.3rem;
    height: 2.5rem;
    color: var(--text-grey);
    text-align: center;
    border-radius: 0.5rem;
}

@media (min-width:600px){
    .appointment_form{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .form_selection{
        flex: 0 1 calc(50% - 1rem);
    }
    .section_submit{
        padding: 1rem;
        display: flex;
        flex: 0 1 calc(50% - 1rem);
        align-items: center;
        justify-content: center;
    }
    .select_submission{
        height: 3rem;
        margin-top: 1.6rem;
    }
}

@media (min-width:1000px){
    .appointment_form{
        flex-wrap: nowrap;
    }
    .form_selection{
        flex: 0 1 calc(25% - 1rem);
    }
    .section_submit{
        flex: 0 1 calc(25% - 1rem);
    }
}

.speciality_detail{
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0 1.5rem 0;

}
.speciality_class{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.speciality_detail h1{
    flex: 0 0 calc(100% - 1rem);
    text-align: center;
    font-size: 2.2rem;
    color: var(--dark);
}

.special{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1.2rem;
}

.special div{
    width: 12rem;
    height: 12rem;
    border: solid 1px var(--headings);
    padding-top: 1.8rem;
    border-radius: 1rem;
    transition: var(--ts);
}

.special div:hover{
    transform: scale(1.1);
}


.special h2{
    font-size: 1.7rem;
    color: var(--text-grey);
}

.special_logo{
    color: var(--blue);
}